{% extends "base.html" %}

{% block content %}

{% load static %}

	<div class="bags">
		<h1 style="text-align: center; padding: 150px; color: white; font-size: 60px;">BECKY BOUTIQUE<br><br>Hand Bags</h1>
	</div>
	<h2 style="color: #AF152A; margin: 10px;"><b>OUR HANDBAGS</h2>
	<div class="row">
		<div class="column1">
			<img src="../static/bags/bag1.jpg" style="width:100%">
			<h3>Fashion Bag</h3>
			<p class="price">N$149.99</p>
		</div>
		<div class="column1">
			<img src="../static/bags/bag2.jpg" style="width:100%">
			<h3>Striped Bags</h3>
			<p class="price">N$149.99</p>
		</div>
		<div class="column1">
			<img src="../static/bags/bag3.jpg" style="width:100%">
			<h3>Striped in Pink</h3>
			<p class="price">N$149.99</p>
		</div>
		<div class="column1">
			<img src="../static/bags/bag4.jpg" style="width:100%">
			<h3>Brown Leather</h3>
			<p class="price">N$199.99</p>
		</div>
		<div class="column1">
			<img src="../static/bags/bag5.jpg" style="width:100%">
			<h3>Black Leather</h3>
			<p class="price">N$199.99</p>
		</div>
		<div class="column1">
			<img src="../static/bags/bag6.jpg" style="width:100%">
			<h3>Red Leather</h3>
			<p class="price">N$199.99</p>
		</div>
		<div class="column1">
			<img src="../static/bags/bag7.jpg" style="width:100%">
			<h3>Travel Bag</h3>
			<p class="price">$299.99</p>
		</div>
		<div class="column1">
			<img src="../static/bags/bag8.jpg" style="width:100%">
			<h3>Travel Bag</h3>
			<p class="price">N$299.99</p>
		</div>
		<div class="column1">
			<img src="../static/bags/bag9.jpg" style="width:100%">
			<h3>Travel Bag</h3>
			<p class="price">N$299.99</p>
		</div>
		<div class="column1">
			<img src="../static/bags/bag10.jpg" style="width:100%">
			<h3>Black Deluxe</h3>
			<p class="price">N$179.99</p>
		</div>
		<div class="column1">
			<img src="../static/bags/bag11.jpg" style="width:100%">
			<h3>Pink Deluxe</h3>
			<p class="price">N$179.99</p>
		</div>
			<div class="column1">
			<img src="../static/bags/bag12.jpg" style="width:100%">
			<h3>Brown Leather</h3>
			<p class="price">N$199.99</p>
		</div>
			<div class="column1">
			<img src="../static/bags/bag13.jpg" style="width:100%">
			<h3>Ladies Wallet</h3>
			<p class="price">N$149.99</p>
		</div>
			<div class="column1">
			<img src="../static/bags/bag14.jpg" style="width:100%">
			<h3>Ladies Wallet</h3>
			<p class="price">N$149.99</p>
		</div>
			<div class="column1">
			<img src="../static/bags/bag15.jpg" style="width:100%">
			<h3>Red Deluxe</h3>
			<p class="price">N$179.99</p>
		</div>
		<div class="column1">
			<img src="../static/bags/bag2.jpg" style="width:100%">
			<h3>Striped Bags</h3>
			<p class="price">N$149.99</p>
		</div>
		<h2 style="color: #AF152A; margin: 10px;"><b>WE  ALSO<br>HAVE:</h2>
		<div class="column">
			<img src="../static/advert/shoe.jpg" style="width:100%">
			<h3>FOOTWEAR</h3>
		</div>
		<div class="column">
			<img src="../static/advert/hair.jpg" style="width:100%">
			<h3>HAIR</h3>
		</div>
		<div class="column">
			<img src="../static/advert/hat.jpg" style="width:100%">
			<h3>HATS</h3>
		</div>
	</div>

{% endblock %}