{% extends "base.html" %}

{% block content %}

{% load static %}

	<div class="start">
		<h4>BECKY BOUTIQUE</h4>
	</div>
	<h2 style="color: #AF152A; margin: 10px;"><b>Formal & African Wear</h2>
	<div class="row">
		<div class="column">
			<img src="../static/dress/dress1.jpg" style="width:100%">
			<h3>3Piece Suite</h3>
			<p class="price">N$800</p>
		</div>
		<div class="column">
			<img src="../static/dress/dress2.jpg" style="width:100%">
			<h3>2Piece Pink</h3>
			<p class="price">N$800</p>
		</div>
		<div class="column">
			<img src="../static/dress/dress4.jpg" style="width:100%">
			<h3>3Piece Blue</h3>
			<p class="price">N$800</p>
		</div>
		<div class="column">
			<img src="../static/dress/dress5.jpg" style="width:100%">
			<h3>2Piece Suite</h3>
			<p class="price">N$800</p>
		</div>
		<div class="column">
			<img src="../static/dress/dress6.jpg" style="width:100%">
			<h3>3Piece Suite</h3>
			<p class="price">N$800</p>
		</div>
		<div class="column">
			<img src="../static/dress/dress7.jpg" style="width:100%">
			<h3>2Piece Red</h3>
			<p class="price">N$800</p>
		</div>
		<div class="column">
			<img src="../static/dress/dress8.jpg" style="width:100%">
			<h3>3piece Purple</h3>
			<p class="price">N$800</p>
		</div>
		<div class="column">
			<img src="../static/dress/dress9.jpg" style="width:100%">
			<h3>2Piece Suite</h3>
			<p class="price">N$800</p>
		</div>
		<div class="column">
			<img src="../static/dress/dress10.jpg" style="width:100%">
			<h3>2Piece Suite</h3>
			<p class="price">N$800</p>
		</div>
		<div class="column">
			<img src="../static/dress/dress11.jpg" style="width:100%">
			<h3>2Piece Ladies</h3>
			<p class="price">N$800</p>
		</div>
		<div class="column">
			<img src="../static/dress/dress12.jpg" style="width:100%">
			<h3>2Piece Ladies</h3>
			<p class="price">N$800</p>
		</div>
			<div class="column">
			<img src="../static/dress/dress13.jpg" style="width:100%">
			<h3>2Piece Black</h3>
			<p class="price">N$800</p>
		</div>
			<div class="column">
			<img src="../static/dress/dress14.jpg" style="width:100%">
			<h3>2Piece Purple</h3>
			<p class="price">N$800</p>
		</div>
			<div class="column">
			<img src="../static/dress/dress15.jpg" style="width:100%">
			<h3>2Piece Suite</h3>
			<p class="price">N$800</p>
		</div>
			<div class="column">
			<img src="../static/dress/dress17.jpg" style="width:100%">
			<h3>African Tailored</h3>
			<p class="price">N$600</p>
		</div>
			<div class="column">
			<img src="../static/dress/dress18.jpg" style="width:100%">
			<h3>African Tailored</h3>
			<p class="price">N$600</p>
		</div>
			<div class="column">
			<img src="../static/dress/dress19.jpg" style="width:100%">
			<h3>African Tailored</h3>
			<p class="price">N$600</p>
		</div>
			<div class="column">
			<img src="../static/dress/dress20.jpg" style="width:100%">
			<h3>African Tailored</h3>
			<p class="price">N$600</p>
		</div>
			<div class="column">
			<img src="../static/dress/dress21.jpg" style="width:100%">
			<h3>African Tailored</h3>
			<p class="price">N$600</p>
		</div>
			<div class="column">
			<img src="../static/dress/dress22.jpg" style="width:100%">
			<h3>African Tailored</h3>
			<p class="price">N$600</p>
		</div>
			<div class="column">
			<img src="../static/dress/dress23.jpg" style="width:100%">
			<h3>African Tailored</h3>
			<p class="price">N$600</p>
		</div>
			<div class="column">
			<img src="../static/dress/dress24.jpg" style="width:100%">
			<h3>Casual Ladies</h3>
			<p class="price">N$250</p>
		</div>
		<div class="column">
			<img src="../static/dress/dress1.jpg" style="width:100%">
			<h3>3Piece Suite</h3>
			<p class="price">N$800</p>
		</div>
		<div class="column">
			<img src="../static/dress/dress4.jpg" style="width:100%">
			<h3>3Piece Blue</h3>
			<p class="price">N$800</p>
		</div>
		<h2 style="color: #AF152A; margin: 10px;"><b>WE  ALSO<br>HAVE:</h2>
		<div class="column">
			<img src="../static/advert/shoe.jpg" style="width:100%">
			<h3>FOOTWEAR</h3>
		</div>
		<div class="column">
			<img src="../static/advert/hat.jpg" style="width:100%">
			<h3>HATS</h3>
		</div>
		<div class="column">
			<img src="../static/advert/hair.jpg" style="width:100%">
			<h3>HAIR</h3>
		</div>
	</div>
{% endblock %} 