{% extends "base.html" %}

{% block content %}

{% load static %}

	<div class="men">
		<h1 style="text-align: center; padding: 150px; color: white; font-size: 60px;">BECKY BOUTIQUE<br><br>FOR MEN</h1>
	</div>
	<h2 style="color: #AF152A; margin: 10px;"><b>MEN'S WEAR</h2>
	<div class="row">
		<div class="column1">
			<img src="../static/men/men1.jpg" style="width:100%">
			<h3>Mens Suite</h3>
			<p class="price">N$1699.99</p>
		</div>
		<div class="column1">
			<img src="../static/men/men2.jpg" style="width:100%">
			<h3>African Purple</h3>
			<p class="price">N$599.99</p>
		</div>
		<div class="column1">
			<img src="../static/men/men4.jpg" style="width:100%">
			<h3>African Red</h3>
			<p class="price">N$599.99</p>
		</div>
		<div class="column1">
			<img src="../static/men/mens5.jpg" style="width:100%">
			<h3>Mens Shoe</h3>
			<p class="price">N$349.99</p>
		</div>
		<div class="column1">
			<img src="../static/men/mens8.jpg" style="width:100%">
			<h3>Leather Wallets</h3>
			<p class="price">N$99.99</p>
		</div>
		<div class="column">
			<img src="../static/men/mens9.jpg" style="width:100%">
			<h3>Safari Blue</h3>
			<p class="price">N$649.99</p>
		</div>
		<div class="column">
			<img src="../static/men/men3.jpg" style="width:100%">
			<h3>African Black</h3>
			<p class="price">N$599.99</p>
		</div>
		<div class="column1">
			<img src="../static/men/mens6.jpg" style="width:100%">
			<h3>Black Formal</h3>
			<p class="price">N$349.99</p>
		</div>
		<div class="column">
			<img src="../static/men/mens7.jpg" style="width:100%">
			<h3>Brown Formal</h3>
			<p class="price">N$349.99</p>
		</div>
		<div class="column">
			<img src="../static/men/mens10.jpg" style="width:100%">
			<h3>Safari Brown</h3>
			<p class="price">N$649.99</p>
		</div>
		<div class="column">
			<img src="../static/men/mens11.jpg" style="width:100%">
			<h3>Safari Short Sleeve</h3>
			<p class="price">N$849.99</p>
		</div>
		<div class="column">
			<img src="../static/men/mens12.jpg" style="width:100%">
			<h3>Mens Sandals</h3>
			<p class="price">N$349.99</p>
		</div>
		<h2 style="color: #AF152A; margin: 10px;"><b>WE  ALSO<br>HAVE:</h2>
		<div class="column">
			<img src="../static/advert/shoe.jpg" style="width:100%">
			<h3>FOOTWEAR</h3>
		</div>
		<div class="column">
			<img src="../static/advert/hair.jpg" style="width:100%">
			<h3>HAIR</h3>
		</div>
		<div class="column">
			<img src="../static/advert/hat.jpg" style="width:100%">
			<h3>HATS</h3>
		</div>
	</div>

{% endblock %}