{% extends "base.html" %}

{% block content %}

{% load static %}

	<div class="shoes">
		<h1 style="text-align: center; padding: 150px; color: white; font-size: 60px;">BECKY BOUTIQUE<br><br>SHOES</h1>
	</div>
	<h2 style="color: #AF152A; margin: 10px;"><b>OUR SHOES</h2>
	<div class="row">
		<div class="column">
			<img src="../static/shoes/shoe1.jpg" style="width:100%">
			<h3>Cover Black</h3>
			<p class="price">N$279.99</p>
		</div>
		<div class="column">
			<img src="../static/shoes/shoe2.jpg" style="width:100%">
			<h3>Ladies Shoe</h3>
			<p class="price">N$279.99</p>
		</div>
		<div class="column">
			<img src="../static/shoes/shoe3.jpg" style="width:100%">
			<h3>Sandals</h3>
			<p class="price">N$249.99</p>
		</div>
		<div class="column">
			<img src="../static/shoes/shoe4.jpg" style="width:100%">
			<h3>Black Slippers</h3>
			<p class="price">N$249.99</p>
		</div>
		<div class="column">
			<img src="../static/shoes/shoe5.jpg" style="width:100%">
			<h3>Men's Sandals</h3>
			<p class="price">N$349.99</p>
		</div>
		<div class="column">
			<img src="../static/shoes/shoe7.jpg" style="width:100%">
			<h3>Ladies Shoe</h3>
			<p class="price">N$279.99</p>
		</div>
		<div class="column">
			<img src="../static/shoes/shoe8.jpg" style="width:100%">
			<h3>Styled Slippers</h3>
			<p class="price">N$219.99</p>
		</div>
		<div class="column">
			<img src="../static/shoes/shoe9.jpg" style="width:100%">
			<h3>Cover Shoe</h3>
			<p class="price">N$279.99</p>
		</div>
		<h2 style="color: #AF152A; margin: 10px;"><b>WE  ALSO<br>HAVE:</h2>
		<div class="column">
			<img src="../static/advert/shoe.jpg" style="width:100%">
			<h3>FOOTWEAR</h3>
		</div>
		<div class="column">
			<img src="../static/advert/hair.jpg" style="width:100%">
			<h3>HAIR</h3>
		</div>
		<div class="column">
			<img src="../static/advert/hat.jpg" style="width:100%">
			<h3>HATS</h3>
		</div>
	</div>

{% endblock %}